/* INPUT */
.input-row {
  display: flex;
  gap: 10px;
  align-items: center;
}

input[type="number"] {
  width: 110px;
  padding: 14px;
  border-radius: 14px;
  border: 1px solid #ddd;
  font-size: 16px;
}

button {
  flex: 1;
  padding: 14px;
  border-radius: 14px;
  border: none;
  background: #111;
  color: #fff;
  font-size: 15px;
}

button.saving {
  background: #22c55e;
}

button:disabled {
  opacity: 0.4;
}
